/* BODY START */
body {
    margin: 0;
}

/* HEADER START */
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    padding: 20px;
}

.headertitle {
    color: white;
    font-size: 30px;
    font-weight: bold;
}

a {
    color: white;
    text-decoration: none;
    margin: 10px;
    padding: 0;
}

/* SECTION 1 START */
.one {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    padding: 30px;
    gap: 80px;
}

.onetitle {
    color: white;
    font-size: 48px;
}

.onetext {
    font-size: 18px;
    color: #E5E7EB;
}

.oneleft {
    display: flex;
    flex-direction: column;
}

img {
    width: 650px;
    height: 250px;
}

button {
background-color: blue;
border-radius: 2px;
}

.signup {
    color: white;
}

/* SECTION 2 START */

.two {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
}
.twotop {
    font-size: 30px;
    font-weight: bold;
}
.twobottom {
    display: flex;
    gap: 50px;
}

.imageone, .imagetwo, .imagethree, .imagefour {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.learnenglish, .learnspanish, .learnjapanese, .learnkorean {
    width: 200px;
    height: 150px;
}

.text {
    font-size: 15px;
    font-weight: bold;
}

/* SECTION 3 START */
.three {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding: 100px;
    background-color: #E5E7EB;
    gap: 20px;
}

.quote {
    font-style: light italic;
    font-weight: 36px;
    color: #1F2937;
    margin-left: 300px;
    margin-right: 300px;
}

.quotesignature {
    display: flex;
    margin-left: 400px;
    font-weight: bold;
    font-size: 20px;
}
/* SECTION 4 START */
.four {
    padding: 100px 200px;
}

.bluecontainer {
    display: flex;
    background-color: blue;
    justify-content: space-around;
    align-items: center;
    padding: 50px 200px;
}

.leftblue {
    color: white;
}

.calltoaction {
    font-size: 20px;
    font-weight: bold;
}
/* FOOTER START */
.footer {
    background-color: #1F2937;
    padding: 50px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.copyright {
    color: white;
}